<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ssafy.ssafit.model.dao.FollowDao">
  
  <resultMap type="follow" id="followMap">
  <id column="no" property="no"/>
  <result column="follower_id" property="followerId"/>
  <result column="followed_id" property="followedId"/>
  </resultMap>
  
  <resultMap type="user" id="userMap">
  	<id column="id" property="id"/>
  	<result column="pw" property="pw"/>
  	<result column="user_name" property="userName"/>
  	<result column="email" property="email"/>
  	<result column="phone" property="phone"/>
  </resultMap>
  
  <select id="selectList" resultMap="userMap" parameterType="String">
  SELECT u.id, u.pw, u.user_name, u.email, u.phone  
FROM user u JOIN follow f
ON u.id = f.follower_id 
WHERE u.id = #{followerId}
  </select>
  
  <insert id="insertFollow" parameterType="follow">
  INSERT INTO follow
  VALUES(0, #{followerId}, #{followedId})
  </insert>
  
  </mapper>