<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ssafy.ssafit.model.dao.FollowDao">
  
  <resultMap type="follow" id="followMap">
  <id column="no" property="no"/>
  <result column="follower_id" property="followerId"/>
  <result column="followed_id" property="followedId"/>
  </resultMap>
  
  <resultMap type="user" id="userMap">
  	<id column="id" property="id"/>
  	<result column="pw" property="pw"/>
  	<result column="user_name" property="userName"/>
  	<result column="email" property="email"/>
  	<result column="phone" property="phone"/>
  </resultMap>
  
  <select id="selectList" resultMap="userMap" parameterType="java.util.HashMap">
  SELECT distinct u.*
	FROM user u JOIN follow f
	<if test="mode == 1">
		ON u.id = f.followed_id 
		WHERE follower_id = #{id}
	</if>
	<if test="mode == 2">
		ON u.id = f.follower_id 
		WHERE followed_id = #{id}
	</if>
  </select>
  
  <insert id="insertFollow" parameterType="follow">
  INSERT INTO follow
  VALUES(#{followerId}, #{followedId},0)
  </insert>
  
  <delete id="deleteFollow" parameterType="follow">
  DELETE FROM follow WHERE follower_id = #{followerId} AND followed_id = #{followedId}
  </delete>
  
  </mapper>