<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ssafy.ssafit.model.dao.ReviewDao">
  <resultMap type="review" id="reviewMap">
  <id column="no" property="no"/>
  <result column="title" property="title"/>
  <result column="writer" property="writer"/>
  <result column="reg_date" property="regDate"/>
  <result column="content" property="content"/>
  <result column="video_title" property="videoTitle"/>
  </resultMap>
  
  <insert id="insertReview" parameterType="review">
  INSERT INTO review VALUES(
  0, #{title}, #{writer}, now(), #{content}, #{videoTitle})
  </insert>
  
  <update id="updateReview" parameterType="review">
 	UPDATE review 
  		SET 
  		title = #{title},
  		writer = #{writer},
  		content = #{content},
  		reg_date = now(),
  		video_title = #{videoTitle}
  		WHERE no = #{no}
  </update>
  
  <delete id="deleteReview" parameterType="Integer" >
  DELETE FROM review WHERE no = #{no} 
  </delete>
  
  <select id="selectList" resultMap="reviewMap" parameterType="java.util.HashMap">
    		SELECT no, review.title, writer, content,
    		date_format(reg_date, '%Y-%m-%d %H%i%s') as reg_date, video_title
  		FROM review JOIN video
        ON review.video_title = video.title
  		WHERE video.youtube_id = #{id}
  		<if test="mode == 1">
  			AND title LIKE CONCAT('%', #{key}, '%')
  		</if>
  		<if test="mode == 2">
  			AND content LIKE '%${key}%'
  		</if>
  		<if test="mode == 3">
  			AND (title LIKE CONCAT('%', #{key}, '%')
  			OR content LIKE '%${key}%')
  		</if>
  </select>
  
  
  
  
  <select id="selectOne" resultMap="reviewMap" parameterType="Integer">
 SELECT no, title, writer, content, video_title, 
 date_format(reg_date, '%Y-%m-%d %H%i%s') as reg_date
	FROM review
	WHERE no = #{no}
  </select>
  </mapper>
  
  